body,html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

img[alt="pinoy-polvoron-logo"]{
    width: 5rem;
}

.container1{
    background-color: #efefef;
    padding:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

.content h1{
    font-size: 5rem;
}

.content h3{
    font-size: 2rem;
    line-height: 3rem;
}

#polvo-box{
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 3px #414141;
}

.content .button{
    outline: none;
    border:none;
    background-color: red;
    color: #f1f1f1;
    padding: 8px 50px;
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    border:1px solid #f1f1f1;
    box-shadow: 0px 9px #999;
    text-decoration: none;
    
}

.content .button:hover{
    background-color: white;
    color: red;
    border:1px solid red;
}
.content .button:active{
    box-shadow: 0px 5px#666;
    transform: translateY(4px);
    
}


.container2{
    width: 100%;
    background-color:#dcc7a8;
    display: flex;
    height: 95vh;
}

.container2 .content{
    display: flex;
    width: 50%;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
}
.container2 .content h1{
    font-size: 3rem;
}
.container2 .content h3{
    font-size: 1.5rem;
}

.container2 .content .button{
    text-align: center;
    width: 40%;
}

#polvo2{
    width: 50%;
    background:linear-gradient(-90deg,#dcc7a8ab,#dcc7a800), url('./polvo2.png');
    background-size: cover;
}

.container3 .content{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #efefef;
    padding-bottom: 30px;
}

.container3 .content h4{
    font-size: 1.3rem;
}
.footer{
    /* margin-top: 10px; */
    height: 25px;
    width: 100%;
    background-color: #161616;
    padding:10px 0px;
    position: relative;
    z-index: 88;
}

.footer a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1rem;
    margin-left: 20px;
}
.footer a:hover{
    color: #dcc7a8;
}

.footer span{
    float: right;
    color: #f1f1f1;
    margin-right: 20px;
    font-style: italic;
}
.cards{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.card img{
    width: 200px;
    height: 200px;
}

.cards .card{
    width: 300px;
    height: 350px;
    box-shadow: 0px 3px 3px 2px #414141;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s ease-out;
    cursor: pointer;

}

.card .name{
    font-size: 1.5rem;
}
.card i{
    font-size: 1.3rem;
}

.cards .card:hover{
    background-color: #dcc7a8;
    transform: scale(105%);
}
.container4{
    width: 100%;
    height: 100vh;
}

.container4 .content{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: #dcc7a8;
}

.reviews{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

.review{
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f1f1f1;
    align-items: center;
    padding: 8px 32px;
}
.review p{
    font-size:0.9rem;
    text-align: justify;
    font-style: italic;
}

.review img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    transition: 0.3s ease-out;
}

.review img:hover{
    transform: scale(105%);
}

.review h4{
    color: red;
    font-size: 1.2rem;
    font-weight: bolder;
}

.stars{
    margin: 10px;
}

.stars i{
    color: gold !important;
}
.container5{
    width: 100%;
    height: 80vh;
    display: flex;
}

.img{
    width: 60%;
    height: inherit;
    background: linear-gradient(-90deg, #dcc7a8ab, #dcc7a800),url("./polvo.png");
    background-size: cover;
    background-position: right bottom;
    box-shadow: 0.3rem 5px 10px 2px red;

}

.img img{
    width: 100%;
    height: inherit;
}

.container5 .content{
    display: flex;
    flex-direction: column;
    padding:50px;
}
.container5 h3{
    color:red;
}

.container5 h5{
    font-size: 1.3rem;
}

.container5 i{
    font-size: 3rem;
    transition: 0.5s ease-out;
}
.container5 i:hover{
    opacity: 50%;
}

.icons{
    display: flex;
    width: 80%;
   gap: 30px;
}

.icons a{
    color: black;
}

.navbar{
    display: flex;
    height: 10vh;
    background-color: #dcc7a8;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .title{
    font-style: oblique;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 20px;
    flex:5;
    letter-spacing: .3rem;

}


.navbar img{
    margin-left: 20px;
    height: 10vh;
}

.buttons{
    justify-content: center;
    flex:5;
    display: flex;
    gap: 3rem;
}

.buttons .navbtn{
    padding:4px 16px;
    font-size: 1.3rem;
    border-radius: 50px;
    letter-spacing: .3rem;
    transition: 0.3s ease;
}

.navbtn a{
    text-decoration: none;
    color: black;
}

.navbtn:hover{
    background-color: #dba65b;
    
}

.container6{
    height: 90vh;
    background: linear-gradient(rgba(220, 199, 168, 0.5),rgba(220, 199, 168, 0.5)),url('./Cellophane-Wrapped.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container6 .content,.container7 .content,.container8 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(219, 166, 91, 0.5);
    border-radius: 50px;
}

.container6 p, .container7 p,.container8 p{
    padding:50px;
    font-size: 1.5rem;
}
.container7{
    background: linear-gradient(rgba(220, 199, 168, 0.5),rgba(220, 199, 168, 0.5)),url('./polvoron-wrapped-in-colorful-plastic-free-photo.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
}
.container8{
    height: 80vh;
    background: linear-gradient(rgba(220, 199, 168, 0.5),rgba(220, 199, 168, 0.5));
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container8 h3{
    letter-spacing: .3rem;
}
.container8 ul{
    padding-left: 0;
    font-size: 1.3rem !important;
    font-weight: 300;
    letter-spacing: .3rem;
    font-size:  1rem;
    list-style-type: none;
    text-align: center;
    text-indent: none;
    line-height: 2rem;
    padding-bottom: 50px;
}
